$slider-bg-color-1: #FFFFFF;
$slider-bg-color-2: #463358;
.slide {
	height: 318px !important;
	min-height: 318px !important;
}

.estudo {
	background-image: url('../../../../public/assets/images/banner-topo.jpeg');
	background-repeat: no-repeat;
	background-size: 100%;
	color: $slider-bg-color-1;
}

.ici {
	background-image: url('../../../../public/assets/images/banner-ici.jpg');
	background-repeat: no-repeat;
	background-color: $slider-bg-color-1;
	background-position: center;
}
.selo-engajamento {
	background-image: url('../../../../public/assets/images/banner-selo-engajamento.png') !important;
	background-repeat: no-repeat;
	background-size: 60%;
		background-position: center;
		background-color: $slider-bg-color-2;
}

.sliderTitle {
	padding-top: 60px !important;
	font-weight: 300 !important;
}
